{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}
        {{ title }} - Gestionate
    {% else %}
        Gestionate
    {% endif %}
{% endblock %}

{% block navbar %}
    <div class="container">
        <br>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('website.index') }}">
                <span>Gestionate</span>
                </a>
                </div>
                <ul class="nav navbar-nav">
                {% if current_user.is_anonymous %}
                <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                {% else %}
                <li>
                <a href="{{ url_for('website.index') }}">
                Home
                </a>
                </li>
                <li>
                <a href="{{ url_for('website.load_locations') }}">
                Locations 
                </a>
                </li>
                <li>
                <a href="{{ url_for('website.load_tickets') }}">
                Tickets
                </a>
                </li>
                {% endif %}
                </ul>
            </div>
        </nav>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-info" role="alert">
                {{ message }}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block app_content %}{% endblock %}
        <hr>
        <div class="container">
            <p>sencinet - 2023</p>
        </div>
    </div>
{% endblock %}

